SMPL_python_v.1.0.0.zip
__MACOSX
backup
lsp_results.tar.gz
smpl
smplify_code.zip

smplify_public/.gitignore
smplify_public/README.md
smplify_public/code/fit_3d.py.bkp
smplify_public/code/lib/
smplify_public/code/render_model.py
smplify_public/code/show_humaneva.py
smplify_public/code/visualize_mesh_sequence.m
smplify_public/code/visualize_mesh_sequence.py
smplify_public/images/
smplify_public/requirements.txt
smplify_public/results/
